In [2]:
import pandas as pd
import numpy as np

In [14]:
df=pd.read_csv('policeshooting.csv')
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [15]:
df.drop(['id','name','date','city','state'],axis=1,inplace=True)

In [16]:
df.head()

,manner_of_death,armed,age,gender,race,signs_of_mental_illness,threat_level,flee,body_camera
0,shot,gun,53.0,M,A,True,attack,Not fleeing,False
1,shot,gun,47.0,M,W,False,attack,Not fleeing,False
2,shot and Tasered,unarmed,23.0,M,H,False,other,Not fleeing,False
3,shot,toy weapon,32.0,M,W,True,attack,Not fleeing,False
4,shot,nail gun,39.0,M,H,False,attack,Not fleeing,False

In [54]:
df=df.dropna()

In [57]:
df['flee'].unique()

array(['Not fleeing', 'Car', 'Foot', 'Other'], dtype=object)

In [58]:
dum=pd.get_dummies(df[['manner_of_death','armed','gender','race','threat_level','flee']])
df.drop(columns=['manner_of_death','armed','gender','race','threat_level','flee'],inplace=True)
df=pd.concat([dum,df],axis=1)
df.head()

,manner_of_death_shot,manner_of_death_shot and Tasered,armed_BB gun,armed_BB gun and vehicle,armed_Taser,armed_air conditioner,armed_air pistol,armed_ax,armed_barstool,armed_baseball bat,...,threat_level_attack,threat_level_other,threat_level_undetermined,flee_Car,flee_Foot,flee_Not fleeing,flee_Other,age,signs_of_mental_illness,body_camera
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,53.0,True,False
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,47.0,False,False
2,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,23.0,False,False
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,32.0,True,False
4,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,39.0,False,False

In [70]:
df[df.select_dtypes(include=bool).columns]=df.select_dtypes(include=bool).applymap(lambda x : 1 if x==True else 0)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4399 entries, 0 to 5413
Columns: 110 entries, manner_of_death_shot to body_camera
dtypes: float64(1), int64(2), uint8(107)
memory usage: 757.1 KB

In [72]:
df

,manner_of_death_shot,manner_of_death_shot and Tasered,armed_BB gun,armed_BB gun and vehicle,armed_Taser,armed_air conditioner,armed_air pistol,armed_ax,armed_barstool,armed_baseball bat,...,threat_level_attack,threat_level_other,threat_level_undetermined,flee_Car,flee_Foot,flee_Not fleeing,flee_Other,age,signs_of_mental_illness,body_camera
0,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,53.0,1,0
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,47.0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,23.0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,32.0,1,0
4,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5408,1,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,27.0,0,1
5409,1,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,23.0,0,0
5410,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,25.0,0,0
5411,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,22.0,0,0
5413,1,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,31.0,0,0