In [175]:
import pandas as pd
import numpy as np

In [176]:
df=pd.read_csv("policeshooting.csv")
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [177]:
df=df.dropna()
df=df[df["threat_level"]=="other"]

In [178]:
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
8,16,Autumn Steele,2015-01-06,shot,unarmed,34.0,F,W,Burlington,IA,False,other,Not fleeing,True
12,22,Hashim Hanif Ibn Abdul-Rasheed,2015-01-07,shot,knife,41.0,M,B,Columbus,OH,True,other,Not fleeing,False
25,48,Richard McClendon,2015-01-13,shot,knife,43.0,M,W,Jourdanton,TX,True,other,Not fleeing,False
35,63,Jose Ceja,2015-01-15,shot,knife,36.0,M,H,Fairfield,CA,True,other,Not fleeing,False

In [181]:
df1=df[df["armed"]=="unarmed"]
nonvolatileblack=df1[df1["race"]=="B"].count()[0]
nonvolatilewhite=df1[df1["race"]=="W"].count()[0]
total=df1.count()[0]
print("Percentage of black people that were victims of police shootings \nwere unarmed and were not threatening - "+str(int(nonvolatileblack)/int(total)*100))
print("Percentage of white people that were victims of police shootings \nand were unarmed and were not threatening - "+str(int(nonvolatilewhite)/int(total)*100))

Percentage of black people that were victims of police shootings
were unarmed and were not threatening - 30.58823529411765
Percentage of white people that were victims of police shootings
and were unarmed and were not threatening - 41.76470588235294

In [180]:
print(df1)

        id                       name        date manner_of_death    armed  \
8       16              Autumn Steele  2015-01-06            shot  unarmed
327    418       Fridoon Zalbeg Nehad  2015-04-30            shot  unarmed
535    653              Samuel DuBose  2015-07-19            shot  unarmed
833    980              Jeremy Mardis  2015-11-03            shot  unarmed
837    981         Timothy Gene Smith  2015-11-04            shot  unarmed
895   1104              Andrew Thomas  2015-11-26            shot  unarmed
993   1137            Keith Childress  2015-12-31            shot  unarmed
1034  1188              Daniel Shaver  2016-01-17            shot  unarmed
1194  1359               Joshua Grubb  2016-03-13            shot  unarmed
1373  1554  Michael Eugene Wilson Jr.  2016-05-22            shot  unarmed
1413  1596              Andrew Henson  2016-06-07            shot  unarmed
1470  1653                Dylan Noble  2016-06-25            shot  unarmed
1610  1796        Daniel Kevin Harris  2016-08-18            shot  unarmed
1686  1889               Jesse Beshaw  2016-09-16            shot  unarmed
1864  2142            Carlos Valencia  2016-11-25            shot  unarmed
1979  2205                JR Williams  2017-01-09            shot  unarmed
2002  2231             Genevive Dawes  2017-01-18            shot  unarmed
2253  2520   Isaiah Murrietta-Golding  2017-04-15            shot  unarmed
2698  2998              Micah McComas  2017-10-01            shot  unarmed
2826  3139       Dustin Robert Pigeon  2017-11-15            shot  unarmed
2865  3176               Keita O'Neil  2017-12-01            shot  unarmed
3181  3506              Stephon Clark  2018-03-18            shot  unarmed
3261  3594          Juan Markee Jones  2018-04-08            shot  unarmed
3547  3895     Melyda Marciela Corado  2018-07-21            shot  unarmed
3562  3959            Brent C. Bowdon  2018-07-25            shot  unarmed
4165  4589          Kevin Bruce Mason  2019-03-24            shot  unarmed
4430  4979                 Li Xi Wang  2019-07-03            shot  unarmed
4562  4980     Chad Michael Breinholt  2019-08-23            shot  unarmed
4685  5090         Atatiana Jefferson  2019-10-12            shot  unarmed

       age gender race              city state  signs_of_mental_illness  \
8     34.0      F    W        Burlington    IA                    False
327   42.0      M    O         San Diego    CA                     True
535   43.0      M    B        Mt. Auburn    OH                    False
833    6.0      M    W        Marksville    LA                    False
837   47.0      M    W     Pacific Beach    CA                    False
895   26.0      M    W             Chico    CA                    False
993   23.0      M    B         Las Vegas    NV                    False
1034  26.0      M    W              Mesa    AZ                    False
1194  30.0      M    W       Lenoir City    TN                    False
1373  27.0      M    B  Hallandale Beach    FL                    False
1413  25.0      M    W           Wagoner    OK                    False
1470  19.0      M    W            Fresno    CA                     True
1610  29.0      M    W         Charlotte    NC                    False
1686  29.0      M    N          Winooski    VT                    False
1864  26.0      M    H            Tucson    AZ                    False
1979  38.0      M    B           Phoenix    AZ                    False
2002  21.0      F    W            Dallas    TX                    False
2253  16.0      M    H            Fresno    CA                    False
2698  41.0      M    W            Seward    AK                    False
2826  29.0      M    A     Oklahoma City    OK                     True
2865  42.0      M    B     San Francisco    CA                    False
3181  23.0      M    B        Sacramento    CA                    False
3261  25.0      M    B          Danville    VA                    False
3547  27.0      F    H       Los Angeles    CA                    False
3562  56.0      M    W       Lake Havasu    AZ                     True
4165  57.0      M    B         Baltimore    MD                    False
4430  49.0      M    A             Chino    CA                    False
4562  31.0      M    W  West Valley City    UT                    False
4685  28.0      F    B        Fort Worth    TX                    False

     threat_level         flee  body_camera
8           other  Not fleeing         True
327         other  Not fleeing         True
535         other          Car         True
833         other          Car         True
837         other         Foot         True
895         other          Car         True
993         other  Not fleeing         True
1034        other  Not fleeing         True
1194        other          Car         True
1373        other          Car         True
1413        other          Car         True
1470        other          Car         True
1610        other          Car         True
1686        other         Foot         True
1864        other  Not fleeing         True
1979        other         Foot         True
2002        other          Car         True
2253        other         Foot         True
2698        other          Car         True
2826        other  Not fleeing         True
2865        other          Car         True
3181        other         Foot         True
3261        other        Other         True
3547        other         Foot         True
3562        other  Not fleeing         True
4165        other  Not fleeing         True
4430        other  Not fleeing         True
4562        other  Not fleeing         True
4685        other  Not fleeing         True

In [ ]:
import time
!git add Analysis.ipynb
!git commit -m "Edtime.asctime( time.localtime(time.time()))