In [5]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_csv("policeshooting.csv")
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [11]:
df=df.dropna()
df=df[df["threat_level"]=="other"]

In [12]:
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
8,16,Autumn Steele,2015-01-06,shot,unarmed,34.0,F,W,Burlington,IA,False,other,Not fleeing,True
12,22,Hashim Hanif Ibn Abdul-Rasheed,2015-01-07,shot,knife,41.0,M,B,Columbus,OH,True,other,Not fleeing,False
25,48,Richard McClendon,2015-01-13,shot,knife,43.0,M,W,Jourdanton,TX,True,other,Not fleeing,False
35,63,Jose Ceja,2015-01-15,shot,knife,36.0,M,H,Fairfield,CA,True,other,Not fleeing,False

In [13]:
df1=df[df["armed"]=="unarmed"]
nonvolatileblack=df1[df1["race"]=="B"].count()[0]
nonvolatilewhite=df1[df1["race"]=="W"].count()[0]
total=df1.count()[0]
print("Percentage of black people that were victims of police shootings \nwere unarmed and were not threatening - "+str(int(nonvolatileblack)/int(total)*100))
print("Percentage of white people that were victims of police shootings \nand were unarmed and were not threatening - "+str(int(nonvolatilewhite)/int(total)*100))

Percentage of black people that were victims of police shootings
were unarmed and were not threatening - 30.58823529411765
Percentage of white people that were victims of police shootings
and were unarmed and were not threatening - 41.76470588235294

In [14]:

print(df1)

        id                       name        date   manner_of_death    armed  \
2        5         John Paul Quintero  2015-01-03  shot and Tasered  unarmed
8       16              Autumn Steele  2015-01-06              shot  unarmed
62     352         Joshua Omar Garcia  2015-01-26              shot  unarmed
72     342               Ralph Willis  2015-01-29              shot  unarmed
76     114              David Kassick  2015-02-02              shot  unarmed
86     125          Joaquin Hernandez  2015-02-04              shot  unarmed
102    138    Antonio Zambrano-Montes  2015-02-10  shot and Tasered  unarmed
107    147             Richard Carlin  2015-02-13              shot  unarmed
114    150                Lavall Hall  2015-02-15  shot and Tasered  unarmed
119    159            Michael Ireland  2015-02-17              shot  unarmed
124    165          Ruben Villalpando  2015-02-20              shot  unarmed
136    371               Daniel Elrod  2015-02-23  shot and Tasered  unarmed
142    183               Rodney Biggs  2015-02-26              shot  unarmed
144    180     Alexander Phillip Long  2015-02-26  shot and Tasered  unarmed
147    188               Thomas Allen  2015-02-28              shot  unarmed
159    199               Derek Cruice  2015-03-04              shot  unarmed
162    201     Sergio Alexander Navas  2015-03-05              shot  unarmed
171    205               Anthony Hill  2015-03-09              shot  unarmed
186    282                Bobby Gross  2015-03-12              shot  unarmed
190    351              Antonio Perez  2015-03-13              shot  unarmed
248    291                Eric Harris  2015-04-02              shot  unarmed
255    297               Walter Scott  2015-04-04  shot and Tasered  unarmed
282    367             Frank Shephard  2015-04-15              shot  unarmed
295    393         Daniel Covarrubias  2015-04-21              shot  unarmed
306    409             Hector Morejon  2015-04-23              shot  unarmed
327    418       Fridoon Zalbeg Nehad  2015-04-30              shot  unarmed
387    491                Feras Morad  2015-05-27  shot and Tasered  unarmed
423    539              Ryan Bolinger  2015-06-09              shot  unarmed
436    550               Kris Jackson  2015-06-15              shot  unarmed
446    555            Adrian Simental  2015-06-21              shot  unarmed
...    ...                        ...         ...               ...      ...
4008  4514         Christian Albarran  2019-01-24              shot  unarmed
4016  4422            Gregory Griffin  2019-01-28              shot  unarmed
4047  4451        Aaron Allen Przekop  2019-02-08              shot  unarmed
4055  4442                 Eric Young  2019-02-11              shot  unarmed
4100  4550          Maurice Arrisgado  2019-03-01              shot  unarmed
4101  4523              Eduardo Munoz  2019-03-01  shot and Tasered  unarmed
4115  4567   Stephanie Areanda Quiroz  2019-03-05              shot  unarmed
4141  4570         Henry Wayne Rivera  2019-03-13              shot  unarmed
4165  4589          Kevin Bruce Mason  2019-03-24              shot  unarmed
4196  4619              Thomas Verile  2019-04-04              shot  unarmed
4267  4708        Ethan Austin Murray  2019-05-04              shot  unarmed
4314  4743          Luke H. Patterson  2019-05-23              shot  unarmed
4331  4753                Jesse Sarey  2019-05-31              shot  unarmed
4340  4803               Kevin Pudlik  2019-06-03              shot  unarmed
4371  5449         Juan Manuel Moreno  2019-06-12              shot  unarmed
4408  4820             Paul David Rea  2019-06-27              shot  unarmed
4430  4979                 Li Xi Wang  2019-07-03              shot  unarmed
4500  4922  Margarita Victoria Brooks  2019-08-01              shot  unarmed
4562  4980     Chad Michael Breinholt  2019-08-23              shot  unarmed
4685  5090         Atatiana Jefferson  2019-10-12              shot  unarmed
4697  5105                Cameron Ely  2019-10-15              shot  unarmed
4966  5363              Clando Anitok  2020-01-10  shot and Tasered  unarmed
5082  5576            Stephen O'Brien  2020-02-24              shot  unarmed
5128  5615           Brian Marksberry  2020-03-08              shot  unarmed
5182  5719         John Mark Hendrick  2020-03-26              shot  unarmed
5203  5713                  Jose Soto  2020-04-02              shot  unarmed
5224  5738      Giuseppe Particianone  2020-04-10              shot  unarmed
5276  5777              Nicholas Bils  2020-05-01              shot  unarmed
5345  5873          Maurice S. Gordon  2020-05-23              shot  unarmed
5410  5918               Hannah Fizer  2020-06-13              shot  unarmed

       age gender race              city state  signs_of_mental_illness  \
2     23.0      M    H           Wichita    KS                    False
8     34.0      F    W        Burlington    IA                    False
62    24.0      M    H            Tahoka    TX                    False
72    42.0      M    W        Stillwater    OK                    False
76    59.0      M    W       Hummelstown    PA                    False
86    28.0      M    H             Tempe    AZ                    False
102   35.0      M    H             Pasco    WA                     True
107   35.0      M    H           Reading    PA                    False
114   25.0      M    B     Miami Gardens    FL                     True
119   31.0      M    W       Springfield    MO                    False
124   31.0      M    H            Euless    TX                    False
136   39.0      M    W             Omaha    NE                    False
142   49.0      M    W          Gulfport    MS                    False
144   31.0      M    W       Terre Haute    IN                    False
147   34.0      M    B          St Louis    MO                    False
159   26.0      M    W           Deltona    FL                    False
162   36.0      M    H           Burbank    CA                    False
171   27.0      M    B           Atlanta    GA                     True
186   35.0      M    B        Washington    DC                     True
190   32.0      M    H      Walnut Creek    CA                    False
248   44.0      M    B             Tulsa    OK                    False
255   50.0      M    B  North Charleston    SC                    False
282   41.0      M    B           Houston    TX                    False
295   37.0      M    N          Lakewood    WA                     True
306   19.0      M    H        Long Beach    CA                    False
327   42.0      M    O         San Diego    CA                     True
387   20.0      M    O        Long Beach    CA                    False
423   28.0      M    W        Des Moines    IA                    False
436   22.0      M    B  South Lake Tahoe    CA                    False
446   24.0      M    H             Azusa    CA                     True
...    ...    ...  ...               ...   ...                      ...
4008  26.0      M    H         Ehrenberg    AZ                    False
4016  46.0      M    B            Newark    NJ                    False
4047  25.0      M    W       Bakersfield    CA                    False
4055  34.0      M    W        Montgomery    WV                     True
4100  47.0      M    A          Honolulu    HI                    False
4101  29.0      M    H         Fairfield    TX                    False
4115  21.0      F    H       Bakersfield    CA                    False
4141  30.0      M    H           Phoenix    AZ                    False
4165  57.0      M    B         Baltimore    MD                    False
4196  37.0      M    W         Kalamazoo    MI                     True
4267  25.0      M    W           Spokane    WA                     True
4314  41.0      M    W        Montgomery    NY                    False
4331  26.0      M    A            Auburn    WA                     True
4340  41.0      M    B           Detroit    MI                    False
4371  35.0      M    H    Farmers Branch    TX                    False
4408  18.0      M    H       Los Angeles    CA                    False
4430  49.0      M    A             Chino    CA                    False
4500  30.0      F    W         Arlington    TX                    False
4562  31.0      M    W  West Valley City    UT                    False
4685  28.0      F    B        Fort Worth    TX                    False
4697  30.0      M    W        Hope Ranch    CA                    False
4966  25.0      M    A           Spokane    WA                    False
5082  20.0      M    W       Floresville    TX                     True
5128  31.0      M    W            Humble    TX                    False
5182  32.0      M    W           Linwood    NC                    False
5203  27.0      M    H        Manchester    CT                     True
5224  33.0      M    W      Philadelphia    PA                    False
5276  36.0      M    W         San Diego    CA                     True
5345  28.0      M    B        Bass River    NJ                    False
5410  25.0      F    W           Sedalia    MO                    False

     threat_level         flee  body_camera
2           other  Not fleeing        False
8           other  Not fleeing         True
62          other          Car        False
72          other         Foot        False
76          other         Foot        False
86          other  Not fleeing        False
102         other         Foot        False
107         other  Not fleeing        False
114         other  Not fleeing        False
119         other         Foot        False
124         other  Not fleeing        False
136         other  Not fleeing        False
142         other  Not fleeing        False
144         other  Not fleeing        False
147         other          Car        False
159         other  Not fleeing        False
162         other          Car        False
171         other  Not fleeing        False
186         other  Not fleeing        False
190         other         Foot        False
248         other  Not fleeing        False
255         other         Foot        False
282         other          Car        False
295         other         Foot        False
306         other  Not fleeing        False
327         other  Not fleeing         True
387         other  Not fleeing        False
423         other          Car        False
436         other         Foot        False
446         other  Not fleeing        False
...           ...          ...          ...
4008        other          Car        False
4016        other          Car        False
4047        other  Not fleeing        False
4055        other  Not fleeing        False
4100        other         Foot        False
4101        other  Not fleeing        False
4115        other          Car        False
4141        other        Other        False
4165        other  Not fleeing         True
4196        other  Not fleeing        False
4267        other         Foot        False
4314        other  Not fleeing        False
4331        other  Not fleeing        False
4340        other          Car        False
4371        other          Car        False
4408        other  Not fleeing        False
4430        other  Not fleeing         True
4500        other  Not fleeing        False
4562        other  Not fleeing         True
4685        other  Not fleeing         True
4697        other  Not fleeing        False
4966        other          Car        False
5082        other  Not fleeing        False
5128        other         Foot        False
5182        other          Car        False
5203        other  Not fleeing        False
5224        other  Not fleeing        False
5276        other         Foot        False
5345        other  Not fleeing        False
5410        other  Not fleeing        False

[170 rows x 14 columns]

In [16]:
import time
!git add Analysis.ipynb
!git commit -m "Edit 4"
!git push

On branch master
Your branch is up to date with 'origin/master'.

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	.ipynb_checkpoints/
	policeshooting.csv

nothing added to commit but untracked files present (use "git add" to track)

Everything up-to-date